label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
      font-family: Verdana, Arial, sans-serif;
  }
  
input,label {
    margin: 0.4rem 0;
}

.axis-x text {
  font-family: 'ITC Franklin Gothic Std', sans-serif;
  font-size: 10px;
  /* color: #635F5D; */

}
   